section.about2
	.container
		.row
			.col-11.col-md-3
				.about2__block
					.icon.icon-squer.about2__icon
					h2.about2__title 
						span 01 
						|GPS и высотомер
					p.about2__txt Дальше, выше, быстрее.
			.col-11.col-md-3 
			
				.about2__block
					.icon.icon-squer.about2__icon
					h2.about2__title 
						span 02 
						|Музыка
					p.about2__txt Любимые плейлисты на запястье. Мотивация на пределе.
			.col-11.col-md-3 
			
				.about2__block
					.icon.icon-squer.about2__icon
					h2.about2__title 
						span 03 
						|Защищены от воды
					p.about2__txt Им покоряются моря. И бассейны.
			.col-11.col-md-3 
			
				.about2__block
					.icon.icon-squer.about2__icon
					h2.about2__title 
						span 04 
						|Приложение «Тренировка»
					p.about2__txt От лёгких прогулок до интенсивных нагрузок.
					