section.about
	.container
		.row
			.about__block.col-11.col-md-4
				h2.about__title Звонки и сообщения 
				p.about__tagline Звоните, пишите, управляйте календарём
				p.about__text Совсем закрутились с делами? Можно отправить сообщение прямо с часов. Ответить на звонок, набрать телефонный номер или позвонить по FaceTime, используя экранные клавиши. И даже прослушать сообщения на автоответчике. А благодаря функции SOS можно быстро вызвать помощь в экстренной ситуации

			.about__block.col-11.col-md-4
				h2.about__title Sara на Time Watch
				p.about__tagline Умнее, быстрее. И даже говорит
				p.about__text Попросите Sara создать напоминание. Найти ответ на нужный вопрос. Начать тренировку. Или даже просто поболтать с вами. Всё, что вы захотите узнать, Sara вам сообщит — через динамик часов или беспроводные наушники.

			.about__block.col-11.col-md-4
				h2.about__title Разный Time Watch
				p.about__tagline Для разных настроений. С разными настройками
				p.about__text Настройте циферблат так, чтобы он показывал важную для вас информацию. Или ваше любимое фото. Или самые нужные приложения. При этом циферблат можно быстро сменить, смахнув по нему от края до края. Например, начните день с умным циферблатом Sara, который постоянно предлагает актуальную информацию. А когда придёт время забирать детей из школы, смените его на циферблат «История игрушек».
		.row 	
			.col-12.about__item.d-flex.flex-row.justify-content-center 
				a(href="https://www.ixbt.com/td/apple-watch/apple-watch-sport-14.jpg" target="_blank").button_2.header__button купить 21$
		

	.cercle
				



