section.belt
	.container
		.row
			.col-11.d-flex.flex-column.align-items-center
				h1.belt__title Выберите модель. Подберите ремешок.
				p.belt__description Для каждого настроения найдётся ремешок. Из плетёного нейлона, спортивный 
				img.img-adaptive(src="img/belt.png", alt="belt-whatch_photo")
			