section.function#function
	.container
		.row
			.col-12.col-md-6.function__txt-block
				h2.about__title.about__title--m Сидеть&nbsp;меньше. Двигаться&nbsp;больше. Тренироваться&nbsp;чаще.
				p.about__text Три графических кольца показывают вашу активность в течение дня и мотивируют больше двигаться. Вы сразу поймёте, что засиделись. И узнаете, сколько сделали шагов и сожгли калорий. Вам станет легче найти 30 минут в день на физические упражнения — ведь их необязательно делать за раз.
			.col-12.col-md-6.function__right-color
				img.img-adaptive(src="img/1.png", alt="time whach")
		.row
			.col-12.col-md-6.function__right-color
				img.img-adaptive(src="img/2.png", alt="time whach")
			.col-12.col-md-6.function__txt-block
				h2.about__title.about__title--m Активные&nbsp;подсказки. Когда&nbsp;пора встряхнуться.
				p.about__text  Как настоящий личный тренер, Time Watch будут постоянно мотивировать вас. Утром вы получите отчёт о своём прогрессе, вечером — подсказку, которая поможет закрыть кольца. А на основании данных о вашей активности и тренировках часы будут каждый месяц предлагать вам новую цель.		
		.row
			.col-12.col-md-6.function__txt-block
				h2.about__title.about__title--m Поразите друзей своими кольцами&nbsp;Активности.
				p.about__text  Откройте друзьям и близким доступ к своим кольцам Активности, чтобы сравнивать показатели и мотивировать друг друга. Вы будете получать уведомления об их прогрессе, а они — о вашем. И сможете обмениваться мотивирующими или шутливыми сообщениями.			
			.col-12.col-md-6.function__right-color
				img.img-adaptive(src="img/3.png", alt="time whach") 
		.row
			.col-12.col-md-6.function__right-color
				iframe(width="460", height="259", src="https://www.youtube.com/embed/BNpiwOkKIJ8?list=PLHFlHpPjgk73J6C3PHUrDntzy6TQxBh44", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
				
				
			.col-12.col-md-6.function__txt-block
				h2.about__title.about__title--m Празднуйте свои успехи вместе с Time&nbsp;Watch.
				p.about__text  Когда вам удаётся заполнить кольцо или добиться цели, Time Watch  отмечают это событие яркой полноэкранной анимацией. А за личные рекорды, серию высоких результатов и достижение основных целей вы будете получать виртуальные награды.		
			