header.header
	.container
		.row.align-items-center.justify-content-between
			.col-2
				a.header__logo.navbar-brand(href="https://www.apple.com/ru/apple-watch-series-3/?afid=p238%7CsJz3yCeEc-dc_mtid_yjqurz7qn0_pcrid_260420443818_&cid=wwa-ru-kwgo-watch-slid--productid-", target="_blank") 
					img(src="img/logo.png", alt="логотоп")
					
			.col-2
				i.fas.fa-bars.fa-lg
		.row
			.col-md-7.offset-md-4.col-12.d-flex.flex-column
				h1.header__title Time Watch Каждый найдёт свои
				p.header__text Умные подсказки про физическую активность. Усовершенствованное приложение «Пульс». Любимые плейлисты прямо на запястье. Встроенный высотомер. 
				a(href="https://www.ixbt.com/td/apple-watch/apple-watch-sport-14.jpg" target="_blank").button_2.header__button.align-self-center купить 21$
				
