section.screen
	.container
		.row
			.col-11.col-md-5
				h1.screen__title Мощное устройство для здоровья
				p.screen__description Относитесь к своему телу с умом.
				.screen__description--2.invisible
				h2 Мощное устройство для здоровья
				p.screen__description Time Watch  всегда у вас на запястье, поэтому с ними легче следить за здоровьем. Вы сможете контролировать свой сердечный ритм и справляться с повседневным стрессом. И даже устанавливать дополнительные приложения, которые помогут соблюдать диету или режим.
				h2 Ваш сердечный ритм под вашим контролем. Весь день.
				p.screen__description Time Watch измеряют частоту сокращений вашего сердца на протяжении всего дня — в состоянии покоя, при ходьбе и после упражнений. Если у вас не было физической нагрузки в течение 10 минут, а частота сердечных сокращений неожиданно превысила заданный уровень, приложение «Пульс» сразу сообщит вам об этом.
				h2 Мгновенный вызов помощи.
				p.screen__description С помощью функции SOS вы можете быстро отправить близким экстренное сообщение, которое будет содержать данные о вашем местонахождении. При этом на дисплее часов отобразится информация, которую вы указали в разделе «Медкарта» на iPhone.
				h2 Разум успокаивается. Тело расслабляется.
				p.screen__description Приятная анимация приложения «Дыхание» и лёгкие касания, которые вы почувствуете на запястье, помогут правильно выполнить серию глубоких вдохов. Специальные напоминания будут каждый день предлагать вам уделить несколько минут этой практике осознанности. А после упражнения вы увидите, как изменился ваш пульс.
				a.button_2.screen_button(href="#") подробнее
			.col-11.col-md-7
				.screen__massage
				.screen_phone
				