///*==========  Desktop First Method  ==========*/
//
///* Large Devices, Wide Screens */
//@media only screen and (max-width : 1200px)
//
//
///* Medium Devices, Desktops */
//@media only screen and (max-width : 992px) 
//
//
//
///* Small Devices, Tablets */
@media only screen and (max-width: 768px) 
		.header
			background-position: 20% 0
		.header__title
			font-size: 50px
		.screen_phone
			right: -50%
			
	
//
//
//
///* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) 
		.header__logo
			visibility: hidden
		.screen_phone
			display: none
		.screen__massage
			display: none





	

//
//
///* Custom, iPhone Retina */
//@media only screen and (max-width: 320px) 

//
//
///*==========  Mobile First Method  ==========*/
//
///* Custom, iPhone Retina */
//@media only screen and (min-width : 320px) 
//
//
//
///* Extra Small Devices, Phones */
//@media only screen and (min-width : 480px) 

//
///* Small Devices, Tablets */
@media only screen and (min-width : 768px) 
		a.menu-link 
			display: none;
			
		.js nav[role=navigation] 
			max-height: none;

		nav[role=navigation] ul 
			margin: 0 0 0 -0.25em;
			border: 0;

		nav[role=navigation]  li 
			display: inline-block;
			margin: 0 0.25em;

		nav[role=navigation] li a 
			border: 0;

//
///* Medium Devices, Desktops */
//@media only screen and (min-width : 992px) 
//
//
//
// /* Large Devices, Wide Screens */
//@media only screen and (min-width : 1200px) 
//
