@import vars.sass
	
.screen
	background-color: $siren
	padding: 90px 0 200px

.screen_button
	background-color: $birusa

.screen__title
	@include font(40px, "OpenSansLight", $white)
	
.screen__description 
	@include font(16px, "OpenSansRegular", $white)

.screen__description--2 h2
	@include font(40px, "OpenSansLight", $white)