$white: rgb(255, 255, 255)
$black_bg: rgb(35, 40, 49)
$white_bg: rgb(244, 248, 251)
$gray_bg: rgb(43, 48, 59)
$black_txt:  #2b303b
$gray_txt: #696f7c
$gray_count: #3a4d60
$siren: rgb(131, 95, 168)
$birusa: rgb(61, 210, 174)




@mixin font($size, $family, $color) 
	font-size: $size
	font-family: $family, sans-serif
	color: $color


@mixin flex($direction, $justify)
	display: flex
	flex-direction: $direction
	justify-content: $justify
	flex-wrap: wrap
	

@mixin null 
	margin: 0
	padding: 0
	box-sizing: border-box


@mixin absolute ($top:0, $left:0 )
	position: absolute
	top: $top
	left: $left
	


